body {
    font-family: Arial, sans-serif;
    background-image: url(/img/Pantalla\ IZZY\ PALLETTE\ Home.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1 {
    text-align: center;
    color: #333;
}
p {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}
.payment-form {
    background: #1075ab;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; 
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #0b427d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.g-recaptcha {
    margin: 15px 0;
}

#recurly-elements {
    margin-bottom: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-bottom: 1%;
    margin-top: 5%;
  }

.title-text{
    color: white;
    margin-bottom: 25px;
    margin: 45px;
    font-weight: bolder;
    font-size: xxx-large;
}
.subtitle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10%;
    color: #4199fd;
  
}
.subtitle-II{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -9%;
    margin-bottom: 8%;
    color: rgb(34, 24, 5);
}
.side-text{
    color: white;
    font-size: 20px;
    margin: 15px;
    line-height: 50px;
}
::marker {
    color: #4744bd;
}
#payment-detail {
    background-color: #1075ab;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.payment-form-detal {
    color: white;
    padding: 10px;
    margin: auto;
}
i.fa.fa-tags {
    color: white !important;
    
}

#dynamic-saving{
    color: white;
}
