body {
    font-family: Arial, sans-serif;
    background-image: url(https://yaronkadstorage.blob.core.windows.net/publiccontainer/izzycheckout/background.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1 {
    text-align: center;
    color: #333;
}
p {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}

#payment-form {
    background-color: #1075ab;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10%;

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}
input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    background-color: #013872;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}
button:hover {
    background-color: #6d90b6;
}
.g-recaptcha {
    margin: 15px 0;
}
#recurly-elements {
    margin-bottom: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-bottom: 1%;
    margin-top: 5%;
  }

 /* .container {
    width: 100%;
    margin-left: 5%;
    padding: 30px;
  }*/

  .title-text {
    color: white !important;
    margin-bottom: 25px !important;
    margin: 45px !important;
    font-weight: bolder !important;
    font-size: xx-large !important;
    width: fit-content !important;
}

.subtitle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10%;
    color:whitesmoke;
  
}
.subtitle-II{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -9%;
    margin-bottom: 8%;
    color: white;
}
.side-text{
    color: white;
    font-size: 20px;
    margin: 15px;
    line-height: 50px;
}
::marker {
    color: #4744bd;
}

img.side_image {
    width: 85%;
    border-radius: 13px;
    margin-left: 10%;
}
/*media queries*/


    .h3, h3 {
        font-size: 1.75rem;
        color: white;
    }

#summary{
    color: white;
}

.payment-detail {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 1%;
    margin-top: 5%;
}

span.card-icon {
    color: white;
}

div#description-titles {
    width: 45%;
    margin-left: 5%;
}

img, svg {
    vertical-align: middle;
    width: 22px;
    margin-top: -2px;
    padding: 2px;
}

/*style for error field validartion
.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}*/
}
